<%# <h1>Hello <%= current_user.email %> </h1>
<%# <%= link_to 'Home', root_path %>

<div class='container'>
    <div class="row mt-5">
    <div class="col-md-10 offset-md-1">
        <center><p class="h3 text-primary">Welcome to the Performance Evaluation of Reservamos!</p></center>
        <center><%= image_tag("images/performance.jpg", :alt => "performance") %> <center>
        <center><%= link_to "Let's Get Started", people_path, :class=>"btn btn-primary btn-lg mt-3 shadow" %></center>
    </div>
    </div>
</div>